In [5]:
house_0_list = [115910.26, 128, 4]
print("house_0_list type:", type(house_0_list))
print("house_0_list length:", len(house_0_list))
house_0_list

house_0_list type: <class 'list'>
house_0_list length: 3

[115910.26, 128, 4]

In [12]:
price_persq=house_0_list[0]/house_0_list[2]
price_persq

28977.565

In [20]:

house_0_list.append(price_persq)
house_0_list

[115910.26, 128, 28977.565, 28977.565]

In [21]:
houses_nested_list = [
    [115910.26, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 111.0, 3.0],
]
houses_nested_list

[[115910.26, 128.0, 4.0],
 [48718.17, 210.0, 3.0],
 [28977.56, 58.0, 2.0],
 [36932.27, 79.0, 3.0],
 [83903.51, 111.0, 3.0]]

In [22]:
# find price per squarfoot
for house in houses_nested_list:
    sft=house[0]/house[2]
    house.append(sft)
houses_nested_list

[[115910.26, 128.0, 4.0, 28977.565],
 [48718.17, 210.0, 3.0, 16239.39],
 [28977.56, 58.0, 2.0, 14488.78],
 [36932.27, 79.0, 3.0, 12310.756666666666],
 [83903.51, 111.0, 3.0, 27967.836666666666]]

In [23]:
# Declare variable `house_0_dict`
house_0_dict = {
    "price_approx_usd": 115910.26,
    "surface_covered_in_m2": 128,
    "rooms": 4,
}

# Print `house_0_dict` type
print("house_0_dict type:", type(house_0_dict))

# Get output of `house_0_dict`
house_0_dict

house_0_dict type: <class 'dict'>

{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4}

In [24]:
house_0_dict["price_per_m2"]=house_0_dict["price_approx_usd"]/house_0_dict["surface_covered_in_m2"]
house_0_dict

{'price_approx_usd': 115910.26,
 'surface_covered_in_m2': 128,
 'rooms': 4,
 'price_per_m2': 905.54890625}

In [25]:
# Declare variable `houses_rowwise`
houses_rowwise = [
    {
        "price_approx_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_approx_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_approx_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_approx_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_approx_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

# Print `houses_rowwise` object type
print("houses_rowwise type:", type(houses_rowwise))

# Print `houses_rowwise` length
print("houses_rowwise length:", len(houses_rowwise))

# Get output of `houses_rowwise`
houses_rowwise

houses_rowwise type: <class 'list'>
houses_rowwise length: 5

[{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_approx_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_approx_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_approx_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_approx_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [26]:
for house in houses_rowwise:
    house["price_per_m2"]=house["price_approx_usd"]/house["surface_covered_in_m2"]

houses_rowwise

[{'price_approx_usd': 115910.26,
  'surface_covered_in_m2': 128,
  'rooms': 4,
  'price_per_m2': 905.54890625},
 {'price_approx_usd': 48718.17,
  'surface_covered_in_m2': 210,
  'rooms': 3,
  'price_per_m2': 231.9912857142857},
 {'price_approx_usd': 28977.56,
  'surface_covered_in_m2': 58,
  'rooms': 2,
  'price_per_m2': 499.61310344827587},
 {'price_approx_usd': 36932.27,
  'surface_covered_in_m2': 79,
  'rooms': 3,
  'price_per_m2': 467.4970886075949},
 {'price_approx_usd': 83903.51,
  'surface_covered_in_m2': 111,
  'rooms': 3,
  'price_per_m2': 755.8874774774774}]

In [27]:
# Declare `house_prices` as empty list
house_prices = []

# Iterate through `houses_rowwise`

    # For each house, append "price_approx_usd" to `house_prices`
for house in houses_rowwise:
    house_prices.append(house["price_approx_usd"])

# Calculate `mean_house_price` using `house_prices`
mean_house_price = sum(house_prices) / len(house_prices)

# Print `mean_house_price` object type
print("mean_house_price type:", type(mean_house_price))

# Get output of `mean_house_price`
mean_house_price

mean_house_price type: <class 'float'>

62888.35399999999

In [28]:
# Declare variable `houses_columnwise`
houses_columnwise = {
    "price_approx_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

# Print `houses_columnwise` object type
print("houses_columnwise type:", type(houses_columnwise))

# Get output of `houses_columnwise`
houses_columnwise

houses_columnwise type: <class 'dict'>

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

In [29]:
# Calculate `mean_house_price` using `houses_columnwise`
mean_house_price = sum(houses_columnwise["price_approx_usd"])/len(houses_columnwise["price_approx_usd"])

# Print `mean_house_price` object type
print("mean_house_price type:", type(mean_house_price))

# Get output of `mean_house_price`
mean_house_price

mean_house_price type: <class 'float'>

62888.35399999999

In [30]:
houses_columnwise

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

In [32]:
price_per_m2=[]
price=houses_columnwise["price_approx_usd"]
area=houses_columnwise["surface_covered_in_m2"]

for p,a in zip(price,area):
    price_m2=p/a
    price_per_m2.append(price_m2)
price_per_m2
houses_columnwise["price_per_m2"]=price_per_m2
houses_columnwise

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0],
 'price_per_m2': [905.54890625,
  231.9912857142857,
  499.61310344827587,
  467.4970886075949,
  755.8874774774774]}

In [33]:
# Import pandas library, aliased as `pd`
import pandas as pd

# Declare variable `df_houses`
df_houses = pd.DataFrame(houses_columnwise)

# Print `df_houses` object type
print("df_houses type:", type(df_houses))

# Print `df_houses` shape
print("df_houses shape:", df_houses.shape)

# Get output of `df_houses`
df_houses

df_houses type: <class 'pandas.core.frame.DataFrame'>
df_houses shape: (5, 4)

   price_approx_usd  surface_covered_in_m2  rooms  price_per_m2
0         115910.26                  128.0    4.0    905.548906
1          48718.17                  210.0    3.0    231.991286
2          28977.56                   58.0    2.0    499.613103
3          36932.27                   79.0    3.0    467.497089
4          83903.51                  111.0    3.0    755.887477